@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
}

html {
  height: 100%;
  margin: 0px;
}

body {
  height: 100%;
  margin: 0px;

  font-family: 'Poppins', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply h-[4px];
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply w-[100px] rounded-full bg-slate-100/25;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-50;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}

.child::-webkit-scrollbar {
  display: none;
}
